n8n-auditoria-example.json
{
  "name": "QA DevOps — Auditoria (Exemplo)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 7
            },
            {
              "field": "weeks",
              "triggerAtDay": [
                2
              ],
              "triggerAtHour": 7
            },
            {
              "field": "weeks",
              "triggerAtDay": [
                3
              ],
              "triggerAtHour": 7
            },
            {
              "field": "weeks",
              "triggerAtDay": [
                4
              ],
              "triggerAtHour": 7
            },
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "7fdd3aef-7291-4583-8396-5820a0a73139",
      "name": "Agendamento Seg-Sex 7h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3648,
        4544
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// ═══════════════════════════════════════════════════════════════════\n//  QA DEVOPS — AUDITORIA FULL SCOPE\n//  Preencha as constantes abaixo com suas credenciais\n//  Sprint-based: janela de 30 dias (sprint inteira)\n//  API: this.helpers.httpRequest (NÃO usar fetch)\n// ═══════════════════════════════════════════════════════════════════\n\nconst GITLAB_TOKEN = 'SEU_GITLAB_TOKEN';\nconst DISCORD_URL  = 'SEU_DISCORD_WEBHOOK_URL';\nconst JIRA_DOMAIN  = 'sua-empresa.atlassian.net';\nconst JIRA_EMAIL   = 'seu@email.com';\nconst JIRA_TOKEN   = 'SEU_JIRA_TOKEN';\nconst SENDGRID_KEY = 'SEU_SENDGRID_KEY';\nconst GL_GROUP     = 'seu-grupo-gitlab';\nconst JIRA_BOARD   = 1;\n\nconst glHeaders   = { 'PRIVATE-TOKEN': GITLAB_TOKEN };\nconst jiraAuth    = 'Basic ' + Buffer.from(`${JIRA_EMAIL}:${JIRA_TOKEN}`).toString('base64');\nconst jiraHeaders = { 'Authorization': jiraAuth, 'Accept': 'application/json' };\n\n// ── Sprint X: DD/MM/YYYY até hoje (acumula conforme avança) ─────────\n// Início fixo no calendário Fatec SJC 1º sem 2026\nconst now         = new Date();\nconst sprintStart = new Date('2025-01-01T00:00:00.000Z') // AJUSTE: data de início da sua sprint;\nconst sprintEnd   = new Date(now);\nsprintEnd.setHours(23, 59, 59, 999);\nconst sprintDays  = Math.ceil((now - sprintStart) / (1000*60*60*24));\nconst periodLabel = `Sprint X: DD/MM/YYYY a ${now.toLocaleDateString('pt-BR')} (${sprintDays} dias)`;\n\n// ── Repo principal (commits diretos permitidos, sem MR obrigatório)\nconst MAIN_REPO_SLUG = 'seu-grupo/seu-repo-principal';\n\n// ── Padrões baseados no documento CI do projeto ────────────────────\n// Branch válida: precisa ter tipo (feat/fix/docs/etc) + ID numérico em algum formato\n// Exemplos válidos: feat/SCRUM-12, feat[75,76]-descricao, feat-75-descricao\nconst branchValidPattern = /^(feat|fix|docs|refactor|chore|test|hotfix|release)[\\s\\-\\/\\[].*\\d+/i;\n// Exceções permanentes — nunca geram NC\nconst branchExceptions   = /^(main|develop|master|HEAD|ReleaseSprint)/i;\n\n// Commit válido: tipo[ID]: msg  OU  tipo[ID,ID]: msg  OU  tipo: msg\n// Aceita SCRUM-XX, números simples [72], múltiplos [72,73]\n// \"docs:\" sem ID é válido. \"feat:\" sem ID é aceito (convenção flexível do projeto)\nconst commitValidPattern = /^(feat|fix|docs|refactor|style|test|chore)(\\[[\\w,\\s\\-]+\\])?:/i;\nconst mergeCommitPattern = /^Merge (branch|remote|pull|tag)/i;\nconst genericWords       = /^(update|teste|test|aaa|ajuste|commit|wip|temp|tmp|asdf|ok|done|changes|add|remove|clean|cleanup|inicio|começo|begin|arrumando|mudanca|alteracao)$/i;\n\n// Testes: TC-XX-nome.spec.ts OU *.int.spec.ts OU *.int.test.ts\nconst specFilePattern = /\\.(spec|test|int\\.spec|int\\.test)\\.(ts|tsx|js|jsx)$/;\nconst tcFilePattern   = /^TC-\\d{2,3}-[a-zA-Z0-9]+\\.(spec|int\\.spec)\\.(ts|tsx|js|jsx)$/;\nconst intSpecPattern  = /\\.int\\.(spec|test)\\.(ts|tsx|js|jsx)$/;\n\n// Limiares temporais\nconst STALE_DAYS     = 30; // branch stale após 30 dias sem atividade\nconst DOC_WARN_DAYS  = 30; // docs só viram NC após 30 dias sem atualização\n\n// ── Helper: httpRequest via n8n nativo ────────────────────────────\nconst glGet = async (url) => {\n  try {\n    const sep = url.includes('?') ? '&' : '?';\n    const result = await this.helpers.httpRequest({\n      method: 'GET',\n      url: url + sep + 'per_page=100',\n      headers: glHeaders,\n    });\n    return Array.isArray(result) ? result : [];\n  } catch(e) { return []; }\n};\n\nconst jiraGet = async (url) => {\n  try {\n    const r = await this.helpers.httpRequest({\n      method: 'GET', url, headers: jiraHeaders,\n      returnFullResponse: true, ignoreHttpStatusErrors: true,\n    });\n    const body = typeof r.body === 'string' ? JSON.parse(r.body) : (r.body ?? r);\n    if (body && typeof body === 'object') body.__status = r.statusCode;\n    return body || {};\n  } catch(e) { return { __error: e.message }; }\n};\n\n// ═══════════════════════════════════════════════════════════════════\n//  STEP 1 — REPOSITÓRIOS DO GRUPO\n// ═══════════════════════════════════════════════════════════════════\nlet repos = [];\ntry {\n  const raw = await glGet(`https://gitlab.com/api/v4/groups/${GL_GROUP}/projects`);\n  repos = raw.map(p => {\n    const slug = p.path_with_namespace || '';\n    const defaultBranch = p.default_branch || (slug.includes('api-4-sem') ? 'main' : 'develop');\n    return { name: p.name, slug, url: p.web_url, defaultBranch };\n  });\n} catch(e) {}\n\nif (repos.length === 0) {\n  repos = [\n    { name: 'Principal',  slug: 'seu-grupo/seu-repo-principal',  url: 'https://gitlab.com/the-devs6675810/api-4-sem-tecsus',  defaultBranch: 'main'    },\n    { name: 'Backend',    slug: 'the-devs6675810/back-end-tecsus',   url: 'https://gitlab.com/the-devs6675810/back-end-tecsus',   defaultBranch: 'develop' },\n    { name: 'Frontend',   slug: 'the-devs6675810/front-end-tecsus',  url: 'https://gitlab.com/the-devs6675810/front-end-tecsus',  defaultBranch: 'develop' },\n    { name: 'Datalogger', slug: 'the-devs6675810/datalogger-tecsus', url: 'https://gitlab.com/the-devs6675810/datalogger-tecsus', defaultBranch: 'develop' },\n  ];\n}\n\n// ═══════════════════════════════════════════════════════════════════\n//  STEP 2 — MERGE REQUESTS (últimos 30 dias)\n// ═══════════════════════════════════════════════════════════════════\nconst mrResults = [];\nlet mrTotal = 0, mrOk = 0;\n\nfor (const repo of repos) {\n  if (repo.slug === MAIN_REPO_SLUG) continue;\n  const enc = encodeURIComponent(repo.slug);\n  const mrs = await glGet(`https://gitlab.com/api/v4/projects/${enc}/merge_requests?state=merged&updated_after=${sprintStart.toISOString()}`);\n\n  for (const mr of mrs) {\n    let approvers = [];\n    try {\n      const ad = await this.helpers.httpRequest({ method:'GET', url:`https://gitlab.com/api/v4/projects/${enc}/merge_requests/${mr.iid}/approvals`, headers:glHeaders });\n      approvers = ad.approved_by || [];\n    } catch(e) {}\n\n    let pipelines = [];\n    try {\n      const pd = await this.helpers.httpRequest({ method:'GET', url:`https://gitlab.com/api/v4/projects/${enc}/merge_requests/${mr.iid}/pipelines`, headers:glHeaders });\n      pipelines = Array.isArray(pd) ? pd : [];\n    } catch(e) {}\n\n    const otherApprovers  = approvers.filter(a => a.user?.id !== mr.author?.id);\n    const branchOk        = branchValidPattern.test(mr.source_branch||'') || branchExceptions.test(mr.source_branch||'');\n    const hasPipeline     = pipelines.length > 0;\n    const pipelineSuccess = pipelines.some(p => p.status === 'success');\n\n    // Pipeline verificada apenas no Backend (único repo com CI configurado)\n    const isBackend = repo.slug === 'the-devs6675810/back-end-tecsus';\n    const violations = [];\n    if (!otherApprovers.length) violations.push('Sem aprovador diferente do autor');\n    if (!branchOk)               violations.push(`Branch de origem inválida: \\`${mr.source_branch}\\``);\n    if (isBackend && !hasPipeline)          violations.push('Nenhuma pipeline executada');\n    else if (isBackend && !pipelineSuccess) violations.push('Pipeline não passou (status ≠ success)');\n    // Descrição MR não obrigatória neste projeto — removido\n\n    mrTotal++;\n    if (!violations.length) mrOk++;\n    mrResults.push({ repo:repo.name, mrId:mr.iid, title:mr.title, url:mr.web_url, author:mr.author?.name, branch:mr.source_branch, conforme:!violations.length, violations });\n  }\n}\nconst mrPct = mrTotal > 0 ? Math.round((mrOk/mrTotal)*100) : 100;\nconst mrNCs = mrResults.filter(r => !r.conforme);\n\n// ═══════════════════════════════════════════════════════════════════\n//  STEP 3 — COMMITS (últimos 30 dias, main + develop + features)\n// ═══════════════════════════════════════════════════════════════════\nlet commitTotal = 0, commitOk = 0;\nconst commitNCs      = [];\nconst directMainNCs  = [];\nconst globalSeenSHAs = new Set(); // de-duplicação: cada SHA conta uma vez globalmente\n\nfor (const repo of repos) {\n  const enc = encodeURIComponent(repo.slug);\n  const isMainRepo = repo.slug === MAIN_REPO_SLUG;\n\n  const branches = await glGet(`https://gitlab.com/api/v4/projects/${enc}/repository/branches`);\n  const branchNames = branches.map(b => b.name);\n  const mainBranches    = branchNames.filter(b => ['main','develop','master'].includes(b));\n  const featureBranches = branchNames.filter(b => /^(feat|fix|docs|refactor|chore|hotfix|release)[\\s\\-\\/\\[]/i.test(b));\n  const toAudit = [...new Set([...mainBranches, ...featureBranches])];\n\n  const mergedMRs = isMainRepo ? [] : await glGet(`https://gitlab.com/api/v4/projects/${enc}/merge_requests?state=merged&updated_after=${sprintStart.toISOString()}`);\n  const mergedSHAs = new Set();\n  for (const mr of mergedMRs) {\n    try {\n      const mrc = await glGet(`https://gitlab.com/api/v4/projects/${enc}/merge_requests/${mr.iid}/commits`);\n      mrc.forEach(c => mergedSHAs.add(c.id));\n    } catch(e) {}\n  }\n\n  for (const branch of toAudit) {\n    const commits = await glGet(`https://gitlab.com/api/v4/projects/${enc}/repository/commits?ref_name=${encodeURIComponent(branch)}&since=${sprintStart.toISOString()}&until=${sprintEnd.toISOString()}`);\n\n    for (const c of commits) {\n      const title = (c.title || c.message || '').trim();\n      if (mergeCommitPattern.test(title)) continue;\n      if (globalSeenSHAs.has(c.id)) continue; // já contabilizado em outra branch\n      globalSeenSHAs.add(c.id);\n\n      commitTotal++;\n      const isMain    = ['main','master'].includes(branch);\n      const isDevelop = branch === 'develop';\n      const firstWord = title.split(/[:\\s\\[]/)[0].toLowerCase();\n      const isGeneric = genericWords.test(firstWord);\n      const isValid   = commitValidPattern.test(title);\n\n      const viols = [];\n      if (!isValid)  viols.push(`Convenção inválida: \"${title.substring(0,60)}\"`);\n      if (isGeneric) viols.push('Mensagem genérica ou sem contexto');\n\n      if (!isMainRepo && (isMain || isDevelop) && !mergedSHAs.has(c.id)) {\n        directMainNCs.push({ repo:repo.name, branch, sha:c.short_id, title:title.substring(0,80), author:c.author_name, url:`${repo.url}/-/commit/${c.id}` });\n      }\n\n      if (!viols.length) commitOk++;\n      else commitNCs.push({ repo:repo.name, branch, sha:c.short_id, title:title.substring(0,80), author:c.author_name, url:`${repo.url}/-/commit/${c.id}`, viols });\n    }\n  }\n}\nconst commitPct = commitTotal > 0 ? Math.round((commitOk/commitTotal)*100) : 100;\n\n// ═══════════════════════════════════════════════════════════════════\n//  STEP 4 — BRANCHES (stale após 30 dias, ReleaseSprint* = exceção)\n// ═══════════════════════════════════════════════════════════════════\nconst branchNCs = [];\nlet branchTotal = 0, branchOk = 0;\nconst staleCutoff = new Date(now - STALE_DAYS * 24 * 60 * 60 * 1000);\n\nfor (const repo of repos) {\n  const enc      = encodeURIComponent(repo.slug);\n  const branches = await glGet(`https://gitlab.com/api/v4/projects/${enc}/repository/branches`);\n\n  for (const branch of branches) {\n    const name = branch.name;\n    if (branchExceptions.test(name)) continue; // main, develop, master, ReleaseSprint*\n\n    branchTotal++;\n    const nameOk     = branchValidPattern.test(name);\n    const lastCommit = new Date(branch.commit?.committed_date || 0);\n    const isStale    = lastCommit < staleCutoff;\n    const daysSince  = Math.floor((now - lastCommit) / (1000*60*60*24));\n\n    const viols = [];\n    if (!nameOk)  viols.push(`Nome fora do padrão feat/fix/docs[ID]: \\`${name}\\``);\n    if (isStale)  viols.push(`Branch parada há ${daysSince} dias (limite: ${STALE_DAYS} dias)`);\n\n    if (!viols.length) branchOk++;\n    else branchNCs.push({ repo:repo.name, name, url:`${repo.url}/-/tree/${encodeURIComponent(name)}`, viols, daysSince });\n  }\n}\nconst branchPct = branchTotal > 0 ? Math.round((branchOk/branchTotal)*100) : 100;\n\n// ═══════════════════════════════════════════════════════════════════\n//  STEP 5 — DOCUMENTAÇÃO\n//  NC apenas após 30 dias sem atualização; antes disso: warning informativo\n// ═══════════════════════════════════════════════════════════════════\nconst docResults = [];\nconst docWarnings = []; // informativo, sem penalizar score\nlet docTotal = 0, docOk = 0;\nconst docStaleCutoff = new Date(now - DOC_WARN_DAYS * 24 * 60 * 60 * 1000);\n\nfor (const repo of repos) {\n  const enc = encodeURIComponent(repo.slug);\n\n  // Buscar commits dos últimos 30 dias em main E develop\n  let allSprintCommits = [];\n  for (const br of ['main', 'develop']) {\n    const commits = await glGet(\n      `https://gitlab.com/api/v4/projects/${enc}/repository/commits?ref_name=${encodeURIComponent(br)}&since=${sprintStart.toISOString()}&until=${sprintEnd.toISOString()}`\n    );\n    allSprintCommits = [...allSprintCommits, ...commits.filter(c => !mergeCommitPattern.test(c.title||''))];\n  }\n\n  // Buscar último commit de docs/readme em qualquer branch recente\n  // Não usa filtro de path (falha na API) — usa título do commit\n  // Pega os 50 commits mais recentes de main e develop sem filtro de data\n  let lastDocCommit    = null;\n  let lastReadmeCommit = null;\n  for (const br of ['main', 'develop']) {\n    try {\n      const recent = await this.helpers.httpRequest({\n        method: 'GET',\n        url: `https://gitlab.com/api/v4/projects/${enc}/repository/commits?ref_name=${encodeURIComponent(br)}&per_page=50`,\n        headers: glHeaders,\n      });\n      if (!Array.isArray(recent)) continue;\n      let fallbackDate = null;\n      for (const c of recent) {\n        const t = (c.title || '').toLowerCase();\n        // Usar committed_date com fallback para created_at\n        const commitDate = c.committed_date || c.authored_date || c.created_at;\n        if (!commitDate) continue;\n        const d = new Date(commitDate);\n        if (isNaN(d.getTime())) continue;\n        // Captura o commit mais recente de qualquer tipo como fallback\n        if (!fallbackDate) fallbackDate = d;\n        if (!lastDocCommit && (t.startsWith('docs:') || t.startsWith('docs[') || t.startsWith('doc:') || t.includes('/docs') || t.includes('documentação'))) {\n          lastDocCommit = d;\n        }\n        if (!lastReadmeCommit && (t.includes('readme') || t.startsWith('docs:') || t.startsWith('docs[') || t.startsWith('doc:'))) {\n          lastReadmeCommit = d;\n        }\n        if (lastDocCommit && lastReadmeCommit) break;\n      }\n      // Fallback: se não encontrou commit de docs/readme, usa o commit mais recente do repo\n      // Isso evita o valor 999 — o repo existe e tem atividade, mas sem prefixo 'docs:'\n      if (!lastDocCommit && fallbackDate) lastDocCommit = fallbackDate;\n      if (!lastReadmeCommit && fallbackDate) lastReadmeCommit = fallbackDate;\n    } catch(e) {}\n    if (lastDocCommit && lastReadmeCommit) break;\n  }\n\n  const readmeOk = allSprintCommits.some(c => {\n    const t = (c.title||'').toLowerCase();\n    return t.includes('readme') || t.startsWith('docs:') || t.startsWith('docs[') || t.startsWith('doc:');\n  });\n  const docsOk = allSprintCommits.some(c => {\n    const t = (c.title||'').toLowerCase();\n    return t.startsWith('docs:') || t.startsWith('docs[') || t.startsWith('doc:') || t.includes('/docs') || t.includes('documentação') || t.includes('documentacao');\n  });\n\n  // Calcular dias desde última atualização\n  const daysSinceReadme = lastReadmeCommit ? Math.floor((now-lastReadmeCommit)/(1000*60*60*24)) : 999;\n  const daysSinceDocs   = lastDocCommit    ? Math.floor((now-lastDocCommit)/(1000*60*60*24))   : 999;\n\n  // NC apenas se passou de 30 dias sem atualização\n  const readmeNC = !readmeOk && daysSinceReadme >= DOC_WARN_DAYS;\n  const docsNC   = !docsOk   && daysSinceDocs   >= DOC_WARN_DAYS;\n\n  docTotal += 2;\n  if (!readmeNC) docOk++;\n  if (!docsNC)   docOk++;\n\n  const result = {\n    repo: repo.name, readmeOk: !readmeNC, docsOk: !docsNC,\n    daysSinceReadme, daysSinceDocs, commitsThisSpring: allSprintCommits.length, url: repo.url\n  };\n  docResults.push(result);\n\n  // Warnings informativos (sem penalizar) — entre 0 e 29 dias sem atualização\n  if (!readmeOk && daysSinceReadme < DOC_WARN_DAYS)\n    docWarnings.push(`[${repo.name}] README sem commit docs há ${daysSinceReadme} dias`);\n  if (!docsOk && daysSinceDocs < DOC_WARN_DAYS)\n    docWarnings.push(`[${repo.name}] /docs sem commit docs há ${daysSinceDocs} dias`);\n}\nconst docPct = docTotal > 0 ? Math.round((docOk/docTotal)*100) : 100;\nconst docNCs = docResults.filter(r => !r.readmeOk || !r.docsOk);\n\n// ═══════════════════════════════════════════════════════════════════\n//  STEP 6 — TESTES (TC-XX + *.int.spec.ts + *.int.test.ts)\n// ═══════════════════════════════════════════════════════════════════\nlet testTotal = 0, testOk = 0;\nconst testNCs = [];\n\nfor (const repo of repos) {\n  if (repo.slug === MAIN_REPO_SLUG) continue;\n  const enc = encodeURIComponent(repo.slug);\n  let specFiles = [];\n\n  // Estratégia 1: buscar toda a árvore de application-system/src recursivamente\n  // A API do GitLab com recursive=true retorna TODOS os arquivos da subárvore\n  const basePaths = ['application-system/src', 'src'];\n  for (const basePath of basePaths) {\n    try {\n      const result = await this.helpers.httpRequest({\n        method: 'GET',\n        url: `https://gitlab.com/api/v4/projects/${enc}/repository/tree?path=${basePath}&recursive=true&per_page=100`,\n        headers: glHeaders,\n      });\n      if (Array.isArray(result) && result.length > 0) {\n        // Filtrar apenas arquivos dentro de pastas __tests__\n        const found = result.filter(f =>\n          f.type === 'blob' &&\n          f.path.includes('/__tests__/') &&\n          specFilePattern.test(f.name)\n        );\n        if (found.length > 0) { specFiles = found; break; }\n        // Se achou arquivos mas nenhum era spec, sair do loop mesmo assim\n        if (result.length > 0) break;\n      }\n    } catch(e) {}\n  }\n\n  // Estratégia 2: fallback — buscar __tests__ diretamente em paths comuns\n  if (specFiles.length === 0) {\n    for (const testPath of ['__tests__', 'src/__tests__', 'tests', 'test']) {\n      try {\n        const result = await this.helpers.httpRequest({\n          method: 'GET',\n          url: `https://gitlab.com/api/v4/projects/${enc}/repository/tree?path=${testPath}&recursive=true&per_page=100`,\n          headers: glHeaders,\n        });\n        if (Array.isArray(result) && result.length > 0) {\n          specFiles = result.filter(f => f.type === 'blob' && specFilePattern.test(f.name));\n          if (specFiles.length > 0) break;\n        }\n      } catch(e) {}\n    }\n  }\n\n  for (const f of specFiles) {\n    testTotal++;\n    // Aceita: TC-XX-nome.spec.ts | *.int.spec.ts | NomeQualquer.spec.ts\n    // NC apenas se nome for genérico (uma só palavra sem contexto, ex: \"test.spec.ts\")\n    const genericTestName = /^(test|spec|index|main|app)\\.(spec|test)\\.(ts|tsx|js|jsx)$/i;\n    if (!genericTestName.test(f.name)) testOk++;\n    else testNCs.push({ repo:repo.name, name:f.name, path:f.path, url:`${repo.url}/-/blob/${repo.defaultBranch}/${f.path}` });\n  }\n}\nconst testPct = testTotal > 0 ? Math.round((testOk/testTotal)*100) : 100;\n\n// ═══════════════════════════════════════════════════════════════════\n//  STEP 7 — JIRA\n// ═══════════════════════════════════════════════════════════════════\nlet jiraSprintName = 'Sprint atual';\nlet jiraTotal = 0, jiraOk = 0;\nconst jiraNCs = [];\n\ntry {\n  const sd = await jiraGet(`https://${JIRA_DOMAIN}/rest/agile/1.0/board/${JIRA_BOARD}/sprint?state=active`);\n  if (sd.values?.[0]) jiraSprintName = sd.values[0].name || sd.values[0].displayName || \"Sprint atual\";\n} catch(e) {}\n\ntry {\n  const jqlDone = encodeURIComponent(`project = SCRUM AND sprint = \"${jiraSprintName}\" AND status in (\"Done\", \"Concluído\", \"Concluido\") ORDER BY updated DESC`);\n  const id  = await jiraGet(`https://${JIRA_DOMAIN}/rest/api/3/search/jql?jql=${jqlDone}&maxResults=100&fields=summary`);\n  for (const issue of (id.issues||[])) {\n    jiraTotal++;\n    let changes = [];\n    try {\n      const cd = await jiraGet(`https://${JIRA_DOMAIN}/rest/api/3/issue/${issue.key}/changelog`);\n      for (const ev of (cd.values||[])) {\n        for (const it of (ev.items||[])) {\n          if (it.field === 'status') {\n            const parsed = JSON.parse(JSON.stringify(it));\n            const statusName = parsed.toString || parsed.to || '';\n            changes.push(statusName.toLowerCase());\n          }\n        }\n      }\n    } catch(e) {}\n    const hasProgress = changes.some(s => s.includes('progress')||s.includes('andamento')||s.includes('doing')||s.includes('in progress')||s.includes('em andamento'));\n    const hasReview   = changes.some(s => s.includes('review')||s.includes('revis')||s.includes('análise')||s.includes('analise')||s.includes('analysis'));\n    const viols = [];\n    if (!hasProgress) viols.push('Não passou por \"In Progress\"');\n    if (!hasReview)   viols.push('Não passou por \"Review\"');\n    if (!viols.length) jiraOk++;\n    else jiraNCs.push({ key:issue.key, summary:issue.fields.summary, url:`https://${JIRA_DOMAIN}/browse/${issue.key}`, viols });\n  }\n} catch(e) {}\n\nconst jiraPct = jiraTotal > 0 ? Math.round((jiraOk/jiraTotal)*100) : 100;\n\n// ═══════════════════════════════════════════════════════════════════\n//  SCORE GLOBAL PONDERADO\n// ═══════════════════════════════════════════════════════════════════\nconst pctGeral = Math.round(mrPct*0.25 + commitPct*0.25 + branchPct*0.15 + docPct*0.15 + testPct*0.10 + jiraPct*0.10);\nconst severity = (p) => p===100?'CONFORME':p>=80?'ATENÇÃO':p>=60?'ALTO':'CRÍTICO';\nconst bar      = (p) => { const f=Math.round(p/10); return '█'.repeat(f)+'░'.repeat(10-f)+` ${p}%`; };\n\n// ═══════════════════════════════════════════════════════════════════\n//  DISCORD — compacto (máx 1990 chars)\n// ═══════════════════════════════════════════════════════════════════\nlet d = '';\nd += `┌─────────────────────────────────────────────┐\\n`;\nd += `│  📋  AUDITORIA QA FULL SCOPE · DEVOPS       │\\n`;\nd += `│  Tecsus · 4º Sem · Fatec · The-Devs        │\\n`;\nd += `└─────────────────────────────────────────────┘\\n\\n`;\nd += `📅  **${periodLabel}**\\n`;\nd += `🔄  **${jiraSprintName}**  |  📦  **${repos.length} repositórios**\\n\\n`;\nd += `**━━━━  📊 PLACAR DA SPRINT  ━━━━**\\n\\n`;\nd += `🔀  **CI — Merge Requests**\\n    ${bar(mrPct)}  (${mrOk}/${mrTotal})\\n`;\nd += `📝  **CI — Commits** _(30 dias · main+develop+features)_\\n    ${bar(commitPct)}  (${commitOk}/${commitTotal})\\n`;\nd += `🌿  **Branches** _(nomenclatura + stale >30d)_\\n    ${bar(branchPct)}  (${branchOk}/${branchTotal})\\n`;\nd += `📄  **Documentação** _(NC após 30d sem atualização)_\\n    ${bar(docPct)}  (${docOk}/${docTotal})\\n`;\nd += `🧪  **Testes** _(TC-XX + integração)_\\n    ${bar(testPct)}  (${testOk}/${testTotal})\\n`;\nd += `📌  **Rastreabilidade — Workflow Jira**\\n    ${bar(jiraPct)}  (${jiraOk}/${jiraTotal})\\n\\n`;\n\nconst resLabel = pctGeral===100?'🏆  **TUDO CONFORME!**':pctGeral>=80?`⚡  **RESULTADO GERAL: ${pctGeral}% — ATENÇÃO**`:`🚨  **RESULTADO GERAL: ${pctGeral}% — ${severity(pctGeral)}**`;\nd += `> ${resLabel}\\n\\n`;\n\nif (directMainNCs.length > 0) d += `**🚨 Commits diretos sem MR: ${directMainNCs.length}** _(detalhes no email)_\\n\\n`;\n\nif (docWarnings.length > 0) {\n  d += `**⚠️ Avisos de documentação** _(sem penalização)_\\n`;\n  for (const w of docWarnings) d += `  ℹ️ ${w}\\n`;\n  d += `\\n`;\n}\n\nconst hasNCs = mrNCs.length||commitNCs.length||branchNCs.length||docNCs.length||testNCs.length||jiraNCs.length;\nif (hasNCs) {\n  d += `**━━━━  ⚠️ NÃO-CONFORMIDADES  ━━━━**\\n`;\n  if (mrNCs.length)     d += `🔀  **MRs:** ${mrNCs.length} problema(s)\\n`;\n  if (commitNCs.length) d += `📝  **Commits:** ${commitNCs.length} fora do padrão\\n`;\n  if (branchNCs.length) d += `🌿  **Branches:** ${branchNCs.length} com problema(s)\\n`;\n  if (docNCs.length) {\n    d += `📄  **Documentação:**\\n`;\n    for (const v of docNCs) {\n      if (!v.readmeOk) d += `  ▸ [${v.repo}] README sem atualização há ${v.daysSinceReadme}d\\n`;\n      if (!v.docsOk)   d += `  ▸ [${v.repo}] /docs sem atualização há ${v.daysSinceDocs}d\\n`;\n    }\n  }\n  if (testNCs.length)   d += `🧪  **Testes:** ${testNCs.length} fora do padrão\\n`;\n  if (jiraNCs.length)   d += `📌  **Jira:** ${jiraNCs.length} issue(s) com workflow incorreto\\n`;\n  d += `\\n_📧 Lista completa no email_\\n\\n`;\n} else {\n  d += `**━━━━  ✅ SEM NÃO-CONFORMIDADES  ━━━━**\\n\\nTodos os processos estão conformes!\\n\\n`;\n}\n\n\n// ═══════════════════════════════════════════════════════════════════\n//  STEP 8 — DAILY + IMPEDIMENTOS (Bot Discord)\n// ═══════════════════════════════════════════════════════════════════\nconst BOT_URL = 'https://seu-bot.exemplo.com';\n\n// Calcular chave da semana atual (mesma lógica do bot)\nconst getWeekKey = (date = new Date()) => {\n  const d = new Date(date);\n  d.setHours(0, 0, 0, 0);\n  d.setDate(d.getDate() + 4 - (d.getDay() || 7));\n  const yearStart = new Date(d.getFullYear(), 0, 1);\n  const week = Math.ceil((((d - yearStart) / 86400000) + 1) / 7);\n  return `semana-${d.getFullYear()}-${String(week).padStart(2, '0')}`;\n};\nconst semanaAtual = getWeekKey();\n\n// Buscar dailys da semana\nlet dailysData = { dailys: [], total: 0 };\ntry {\n  dailysData = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${BOT_URL}/dailys?semana=${semanaAtual}`,\n  });\n} catch(e) { dailysData = { dailys: [], total: 0, erro: e.message }; }\n\nconst totalDailys    = dailysData.total || 0;\nconst dailyOk        = totalDailys >= 3;\nconst dailyPct       = Math.min(100, Math.round((totalDailys / 3) * 100));\nconst dailyNCs       = dailyOk ? [] : [`Apenas ${totalDailys}/3 dailys realizadas esta semana`];\n\n// Buscar impedimentos da sprint\nlet impedimentosData = {};\ntry {\n  impedimentosData = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${BOT_URL}/impedimentos?sprint=sprint-3-2026`,\n  });\n} catch(e) { impedimentosData = {}; }\n\n// Processar impedimentos — ignorar chaves especiais (_dailys etc)\nconst devsComImpedimento = Object.entries(impedimentosData)\n  .filter(([k, v]) => !k.startsWith('_') && v?.impedimentos);\n\nconst totalImpAbertos    = devsComImpedimento.reduce((acc, [,dev]) => acc + dev.impedimentos.filter(i => !i.resolvido).length, 0);\nconst totalImpResolvidos = devsComImpedimento.reduce((acc, [,dev]) => acc + dev.impedimentos.filter(i =>  i.resolvido).length, 0);\nconst impAbertosLista    = [];\nfor (const [, dev] of devsComImpedimento) {\n  for (const imp of dev.impedimentos.filter(i => !i.resolvido)) {\n    impAbertosLista.push({ dev: dev.nome, descricao: imp.descricao, tarefa: imp.tarefa, id: imp.id });\n  }\n}\n\n// Daily entra no score como 10% — substituindo ou somando ao Jira\n// Aqui adicionamos como categoria separada mas NÃO alteramos o score ponderado atual\n// (pode ser incluído no score futuramente)\n// ── Daily no Discord — compacto, link pro canal ─────────────────────────\nconst dailyBar  = dailyOk ? '██████████' : ('█'.repeat(Math.round(totalDailys/3*10)) + '░'.repeat(10 - Math.round(totalDailys/3*10)));\nconst dailyIcon = dailyOk ? '✅' : '⚠️';\nd += `\\n📡  **Daily Scrum** _(mínimo 3x por semana)_\\n`;\nd += `    ${dailyBar} ${dailyIcon}  (${totalDailys}/semana)\\n`;\nd += `\\n🚧  **Impedimentos** — Abertos: **${totalImpAbertos}** · Resolvidos: **${totalImpResolvidos}**\\n`;\nif (totalImpAbertos > 0) d += `  _📌 Acesse o canal **#qa-impedimentos** para ver os detalhes_\\n`;\nd += `\\n_🤖 QA DevOps · n8n · Sprint-based · ${repos.length} repos_`;\n\n\n// ═══════════════════════════════════════════════════════════════════\n//  TELEGRAPH — publica o relatório HTML como página web\n// ═══════════════════════════════════════════════════════════════════\nlet telegraphUrl = null;\ntry {\n  // Converte HTML para nós Telegraph (formato aceito pela API)\n  // A API aceita HTML básico como content via campo 'content' com nós\n  const today = now.toLocaleDateString('pt-BR');\n  const telegraphTitle = `QA Auditoria ${today} — Sprint Tecsus`;\n\n  // Simplifica o HTML para texto plano estruturado (Telegraph aceita subset de HTML)\n  // Usa o campo author_name para identificar a origem\n  const telegraphResp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.telegra.ph/createPage',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      access_token: 'SEU_TELEGRAPH_TOKEN',\n      title: telegraphTitle,\n      author_name: 'QA DevOps · Tecsus · The-Devs',\n      author_url: 'https://gitlab.com/the-devs6675810',\n      content: [{ tag: 'p', children: ['Carregando relatório...'] }],\n      return_content: false,\n    }),\n  });\n\n  if (telegraphResp?.result?.url) {\n    telegraphUrl = telegraphResp.result.url;\n  }\n} catch(e) {}\n\n// Se a criação da página funcionou, atualiza com o HTML real via editPage\nif (telegraphUrl) {\n  try {\n    // Extrai o path da URL (ex: /QA-Auditoria-...)\n    const telegraphPath = telegraphUrl.replace('https://telegra.ph/', '');\n    const today = now.toLocaleDateString('pt-BR');\n\n    // Monta conteúdo estruturado para o Telegraph (nós JSON) — v17: espelho do email\n    const buildTelegraphContent = () => {\n      const nodes = [];\n\n      // ── Cabeçalho ────────────────────────────────────────────────────────\n      nodes.push({ tag: 'h3', children: ['📋 Auditoria QA Full Scope — Sprint'] });\n      nodes.push({ tag: 'p',  children: ['Projeto Tecsus · 4º Semestre · Fatec · The-Devs'] });\n      nodes.push({ tag: 'p',  children: [`📅 ${periodLabel}`] });\n      nodes.push({ tag: 'p',  children: [`🔄 ${jiraSprintName} · 📦 ${repos.length} repositórios auditados`] });\n      nodes.push({ tag: 'hr' });\n\n      // ── Placar da Sprint ─────────────────────────────────────────────────\n      nodes.push({ tag: 'h4', children: ['📊 Placar da Sprint (últimos 30 dias)'] });\n      const sevLabel = (p) => p===100?'CONFORME':p>=80?'ATENÇÃO':p>=60?'ALTO':'CRÍTICO';\n      const scoreRows = [\n        [`🔀 CI — Merge Requests`,                        mrTotal,     mrOk,     mrPct],\n        [`📝 CI — Commits (main + develop + features)`,   commitTotal, commitOk, commitPct],\n        [`🌿 Branches (nomenclatura + stale >30d)`,       branchTotal, branchOk, branchPct],\n        [`📄 Documentação (NC após 30d sem atualização)`, docTotal,    docOk,    docPct],\n        [`🧪 Testes (TC-XX + *.int.spec/test.ts)`,        testTotal,   testOk,   testPct],\n        [`📌 Rastreabilidade — Workflow Jira`,             jiraTotal,   jiraOk,   jiraPct],\n      ];\n      for (const [label, tot, ok, pct] of scoreRows) {\n        nodes.push({ tag: 'p', children: [`${label}: ${ok}/${tot} (${pct}%) — ${sevLabel(pct)}`] });\n      }\n      nodes.push({ tag: 'p', children: [`⭐ CONFORMIDADE GERAL (PONDERADA): ${pctGeral}% — ${sevLabel(pctGeral)}`] });\n      nodes.push({ tag: 'hr' });\n\n      // ── Avisos de Documentação (informativos, sem penalização) ───────────\n      if (docWarnings.length > 0) {\n        nodes.push({ tag: 'h4', children: ['ℹ️ Avisos de Documentação (sem penalização)'] });\n        nodes.push({ tag: 'p',  children: [`Documentação não atualizada nos últimos dias, mas dentro do limite de ${DOC_WARN_DAYS} dias. Fique atento.`] });\n        nodes.push({ tag: 'ul', children: docWarnings.map(w => ({ tag: 'li', children: [w] })) });\n      }\n\n      // ── Commits diretos sem MR (bloco de alerta, antes das NCs) ─────────\n      if (directMainNCs.length > 0) {\n        nodes.push({ tag: 'h4', children: [`🚨 Commits diretos em main/develop sem Merge Request (${directMainNCs.length})`] });\n        nodes.push({ tag: 'p',  children: ['O repositório principal (API) é exceção e não é verificado aqui.'] });\n        nodes.push({ tag: 'ul', children: directMainNCs.map(v => ({ tag: 'li', children: [\n          `${v.sha} [${v.repo}/${v.branch}] — ${v.title} · 👤 ${v.author} · `,\n          { tag: 'a', attrs: { href: v.url }, children: ['Ver commit'] },\n        ] })) });\n        nodes.push({ tag: 'hr' });\n      }\n\n      // ── Não-Conformidades ────────────────────────────────────────────────\n      const allNCs = mrNCs.length + commitNCs.length + branchNCs.length + docNCs.length + testNCs.length + jiraNCs.length;\n      if (allNCs === 0) {\n        nodes.push({ tag: 'p', children: ['✅ Nenhuma não-conformidade encontrada nesta sprint!'] });\n      } else {\n        nodes.push({ tag: 'h4', children: [`⚠️ Não-Conformidades — Lista Completa da Sprint`] });\n\n        // MRs\n        if (mrNCs.length) {\n          nodes.push({ tag: 'h4', children: [`🔀 CI — Merge Requests (${mrNCs.length})`] });\n          nodes.push({ tag: 'ul', children: mrNCs.map(v => ({ tag: 'li', children: [\n            { tag: 'b', children: [`[${v.repo}] MR !${v.mrId}`] },\n            ` — ${v.title} · 👤 ${v.author} · `,\n            { tag: 'a', attrs: { href: v.url }, children: ['Ver MR'] },\n            ...v.violations.map(vi => ({ tag: 'br' })).concat(\n              v.violations.flatMap((vi, i) => i === 0 ? [{ tag: 'br' }, `⤷ ${vi}`] : [{ tag: 'br' }, `⤷ ${vi}`])\n            ),\n          ] })) });\n        }\n\n        // Commits\n        if (commitNCs.length) {\n          nodes.push({ tag: 'h4', children: [`📝 CI — Commits (${commitNCs.length})`] });\n          nodes.push({ tag: 'p',  children: ['Padrão: tipo[ID]: descrição ou tipo[ID,ID]: desc ou docs: desc'] });\n          nodes.push({ tag: 'ul', children: commitNCs.map(v => ({ tag: 'li', children: [\n            { tag: 'code', children: [v.sha] },\n            ` [${v.repo}/${v.branch}] — ${v.title}`,\n            { tag: 'br' },\n            ...v.viols.flatMap((vi, i) => i === 0 ? [`⤷ ${vi}`] : [{ tag: 'br' }, `⤷ ${vi}`]),\n            ' · ',\n            { tag: 'a', attrs: { href: v.url }, children: ['Ver'] },\n          ] })) });\n        }\n\n        // Branches\n        if (branchNCs.length) {\n          nodes.push({ tag: 'h4', children: [`🌿 Branches problemáticas (${branchNCs.length})`] });\n          nodes.push({ tag: 'p',  children: ['Padrão: feat/SCRUM-12-descricao ou feat[75,76]-descricao · ReleaseSprint* são exceção permanente'] });\n          nodes.push({ tag: 'ul', children: branchNCs.map(v => ({ tag: 'li', children: [\n            { tag: 'code', children: [v.name] },\n            ` [${v.repo}]`,\n            { tag: 'br' },\n            ...v.viols.flatMap((vi, i) => i === 0 ? [`⤷ ${vi}`] : [{ tag: 'br' }, `⤷ ${vi}`]),\n            ' · ',\n            { tag: 'a', attrs: { href: v.url }, children: ['Ver branch'] },\n          ] })) });\n        }\n\n        // Documentação NCs\n        if (docNCs.length) {\n          nodes.push({ tag: 'h4', children: [`📄 Documentação (${docNCs.length} repositórios)`] });\n          nodes.push({ tag: 'ul', children: docNCs.map(v => {\n            const children = [\n              { tag: 'b', children: [`[${v.repo}]`] },\n              ` — ${v.commitsThisSpring} commits na sprint`,\n            ];\n            if (!v.readmeOk) {\n              children.push({ tag: 'br' });\n              children.push(`⤷ README sem commit docs há ${v.daysSinceReadme} dias (limite: ${DOC_WARN_DAYS}d)`);\n            }\n            if (!v.docsOk) {\n              children.push({ tag: 'br' });\n              children.push(`⤷ /docs sem commit docs há ${v.daysSinceDocs} dias (limite: ${DOC_WARN_DAYS}d)`);\n            }\n            children.push(' · ');\n            children.push({ tag: 'a', attrs: { href: v.url }, children: ['Ver repositório'] });\n            return { tag: 'li', children };\n          }) });\n        }\n\n        // Testes\n        if (testNCs.length) {\n          nodes.push({ tag: 'h4', children: [`🧪 Testes fora do padrão (${testNCs.length})`] });\n          nodes.push({ tag: 'p',  children: ['Padrão: TC-XX-nome.spec.ts ou *.int.spec.ts ou *.int.test.ts'] });\n          nodes.push({ tag: 'ul', children: testNCs.map(v => ({ tag: 'li', children: [\n            { tag: 'code', children: [v.name] },\n            ` [${v.repo}] · `,\n            { tag: 'a', attrs: { href: v.url }, children: ['Ver arquivo'] },\n          ] })) });\n        }\n\n        // Jira\n        if (jiraNCs.length) {\n          nodes.push({ tag: 'h4', children: [`📌 Rastreabilidade Jira (${jiraNCs.length})`] });\n          nodes.push({ tag: 'ul', children: jiraNCs.map(v => ({ tag: 'li', children: [\n            { tag: 'b', children: [{ tag: 'a', attrs: { href: v.url }, children: [v.key] }] },\n            ` — ${v.summary}`,\n            { tag: 'br' },\n            ...v.viols.flatMap((vi, i) => i === 0 ? [`⤷ ${vi}`] : [{ tag: 'br' }, `⤷ ${vi}`]),\n          ] })) });\n        }\n      }\n\n      nodes.push({ tag: 'hr' });\n\n\n// ── Daily no Telegraph ────────────────────────────────────────────────────\nnodes.push({ tag: 'hr' });\nnodes.push({ tag: 'h3', children: ['📡 Daily Scrum'] });\nnodes.push({ tag: 'p',  children: [`Realizadas esta semana: ${totalDailys}/semana (mínimo: 3) — ${dailyOk ? '✅ Conforme' : '⚠️ Abaixo do mínimo'}`] });\n\n// Resumo por dia\nconst diasDailyLabel = ['Segunda','Terça','Quarta','Quinta','Sexta'];\nconst dailyPorDia = diasDailyLabel.map(dia => {\n  const d2 = (dailysData.dailys || []).find(d3 => d3.diaSemana === dia);\n  return d2 ? `✅ ${dia}: ${d2.presentes.length} presentes, ${d2.duracaoMin}min` : `❌ ${dia}: não realizada`;\n});\nnodes.push({ tag: 'ul', children: dailyPorDia.map(txt => ({ tag: 'li', children: [txt] })) });\n\nif (impAbertosLista.length > 0) {\n  nodes.push({ tag: 'h4', children: [`🚧 Impedimentos Abertos (${impAbertosLista.length})`] });\n  nodes.push({ tag: 'ul', children: impAbertosLista.map(imp => ({\n    tag: 'li',\n    children: [`[${imp.dev}] ${imp.descricao}${imp.tarefa ? ` — ${imp.tarefa}` : ''}`]\n  })) });\n} else {\n  nodes.push({ tag: 'p', children: ['🎉 Nenhum impedimento aberto no momento.'] });\n}\n      nodes.push({ tag: 'hr' });\n      nodes.push({ tag: 'p', children: [`🤖 Auditoria automática via n8n · QA de DevOps · Projeto Tecsus · Sprint-based (30d) · ${repos.length} repositórios · ${today}`] });\n      return nodes;\n    };\n\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.telegra.ph/editPage',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        access_token: 'SEU_TELEGRAPH_TOKEN',\n        path: telegraphPath,\n        title: `QA Auditoria ${now.toLocaleDateString('pt-BR')} — Sprint Tecsus`,\n        author_name: 'QA DevOps · Tecsus · The-Devs',\n        author_url: 'https://gitlab.com/the-devs6675810',\n        content: buildTelegraphContent(),\n        return_content: false,\n      }),\n    });\n  } catch(e) {}\n}\n\n// Adiciona link do Telegraph e aviso de email na mensagem do Discord\nif (telegraphUrl) {\n  d += `\\n\\n📊 **Relatório completo:** ${telegraphUrl}`;\n}\nd += `\\n📧 _O relatório detalhado também foi enviado por **email** — verifique sua caixa de entrada ou **spam** caso não encontre._`;\n\n// ═══════════════════════════════════════════════════════════════════\n//  EMAIL HTML — detalhado, lista completa\n// ═══════════════════════════════════════════════════════════════════\nconst cor = (p) => p===100?'#2E7D32':p>=80?'#F57F17':p>=60?'#E65100':'#B71C1C';\nconst bg  = (p) => p===100?'#E8F5E9':p>=80?'#FFF8E1':p>=60?'#FFF3E0':'#FFEBEE';\n\nlet e = `<div style=\"font-family:Arial,sans-serif;max-width:720px;margin:0 auto;color:#1A1A2E\">`;\ne += `<div style=\"background:#1F3864;padding:24px;border-radius:8px 8px 0 0;text-align:center\"><h1 style=\"color:#fff;margin:0;font-size:20px\">📋 Auditoria QA Full Scope — Sprint</h1><p style=\"color:#B0C4DE;margin:6px 0 0;font-size:13px\">Projeto Tecsus · 4º Semestre · Fatec · The-Devs</p></div>`;\ne += `<div style=\"background:#E8EDF4;padding:10px 24px;border-bottom:3px solid #2E5FAC\"><p style=\"margin:0;font-size:13px\">📅 <b>${periodLabel}</b><br>🔄 <b>${jiraSprintName}</b> &nbsp;·&nbsp; 📦 <b>${repos.length} repositórios auditados</b></p></div>`;\ne += `<div style=\"background:#fff;padding:24px\">`;\n\ne += `<h2 style=\"color:#1F3864;border-bottom:2px solid #2E5FAC;padding-bottom:8px;font-size:15px\">📊 Placar da Sprint (últimos 30 dias)</h2>`;\ne += `<table width=\"100%\" cellpadding=\"9\" cellspacing=\"0\" style=\"border-collapse:collapse;font-size:13px;margin-bottom:20px\">`;\ne += `<tr style=\"background:#2E5FAC;color:#fff\"><th align=\"left\">Área</th><th align=\"center\">Total</th><th align=\"center\">Conformes</th><th align=\"center\">%</th><th align=\"center\">Status</th></tr>`;\n[\n  [`🔀 CI — Merge Requests`, mrTotal, mrOk, mrPct],\n  [`📝 CI — Commits (main + develop + features)`, commitTotal, commitOk, commitPct],\n  [`🌿 Branches (nomenclatura + stale >30d)`, branchTotal, branchOk, branchPct],\n  [`📄 Documentação (NC após 30d sem atualização)`, docTotal, docOk, docPct],\n  [`🧪 Testes (TC-XX + *.int.spec/test.ts)`, testTotal, testOk, testPct],\n  [`📌 Rastreabilidade — Workflow Jira`, jiraTotal, jiraOk, jiraPct],\n].forEach(([label,tot,ok,pct],i) => {\n  const z = i%2===1?'background:#F5F7FA':'';\n  e += `<tr style=\"${z}\"><td style=\"padding:9px\">${label}</td><td align=\"center\">${tot}</td><td align=\"center\">${ok}</td><td align=\"center\">${pct}%</td><td align=\"center\" style=\"color:${cor(pct)};font-weight:600\">${severity(pct)}</td></tr>`;\n});\ne += `<tr style=\"background:${bg(pctGeral)};border-top:2px solid ${cor(pctGeral)}\"><td style=\"padding:9px\"><b>CONFORMIDADE GERAL (PONDERADA)</b></td><td colspan=\"2\" align=\"center\" style=\"color:#888\">—</td><td align=\"center\"><b>${pctGeral}%</b></td><td align=\"center\" style=\"color:${cor(pctGeral)};font-weight:700\">${severity(pctGeral)}</td></tr>`;\ne += `</table>`;\n\n// Warnings documentação (informativos)\nif (docWarnings.length > 0) {\n  e += `<div style=\"background:#E3F2FD;border-left:4px solid #1565C0;padding:12px 16px;margin-bottom:16px;border-radius:4px\">`;\n  e += `<b style=\"color:#1565C0\">ℹ️ Avisos de Documentação (sem penalização)</b>`;\n  e += `<p style=\"margin:4px 0 8px;font-size:12px;color:#666\">Documentação não atualizada nos últimos dias, mas dentro do limite de ${DOC_WARN_DAYS} dias. Fique atento.</p>`;\n  e += `<ul style=\"margin:0;font-size:13px\">`;\n  for (const w of docWarnings) e += `<li>${w}</li>`;\n  e += `</ul></div>`;\n}\n\n// Commits diretos sem MR\nif (directMainNCs.length > 0) {\n  e += `<div style=\"background:#FFEBEE;border-left:4px solid #B71C1C;padding:12px 16px;margin-bottom:16px;border-radius:4px\">`;\n  e += `<b style=\"color:#B71C1C\">🚨 Commits diretos em main/develop sem Merge Request (${directMainNCs.length})</b>`;\n  e += `<p style=\"margin:4px 0 8px;font-size:12px;color:#666\">O repositório principal (API) é exceção e não é verificado aqui.</p>`;\n  e += `<ul style=\"margin:0;font-size:13px\">`;\n  for (const v of directMainNCs) e += `<li><code>${v.sha}</code> [${v.repo}/${v.branch}] — ${v.title}<br>👤 ${v.author} · <a href=\"${v.url}\">Ver commit</a></li>`;\n  e += `</ul></div>`;\n}\n\n// NCs completas — sem truncamento\nif (hasNCs) {\n  e += `<h2 style=\"color:#B71C1C;border-bottom:2px solid #B71C1C;padding-bottom:8px;font-size:15px\">⚠️ Não-Conformidades — Lista Completa da Sprint</h2>`;\n\n  if (mrNCs.length) {\n    e += `<h3 style=\"color:#1F3864;font-size:14px\">🔀 CI — Merge Requests (${mrNCs.length})</h3><ul style=\"font-size:13px\">`;\n    for (const v of mrNCs) e += `<li><b>[${v.repo}] MR !${v.mrId}</b> — ${v.title}<br>👤 ${v.author} · <a href=\"${v.url}\">Ver MR</a><br>${v.violations.map(vi=>`⤷ ${vi}`).join('<br>')}</li>`;\n    e += `</ul>`;\n  }\n  if (commitNCs.length) {\n    e += `<h3 style=\"color:#1F3864;font-size:14px\">📝 CI — Commits (${commitNCs.length})</h3>`;\n    e += `<p style=\"font-size:12px;color:#666;margin:0 0 8px\">Padrão: <code>tipo[ID]: descrição</code> ou <code>tipo[ID,ID]: desc</code> ou <code>docs: desc</code></p>`;\n    e += `<ul style=\"font-size:13px\">`;\n    for (const v of commitNCs) e += `<li><code>${v.sha}</code> [${v.repo}/${v.branch}] — ${v.title}<br>${v.viols.map(vi=>`⤷ ${vi}`).join('<br>')} · <a href=\"${v.url}\">Ver</a></li>`;\n    e += `</ul>`;\n  }\n  if (branchNCs.length) {\n    e += `<h3 style=\"color:#1F3864;font-size:14px\">🌿 Branches problemáticas (${branchNCs.length})</h3>`;\n    e += `<p style=\"font-size:12px;color:#666;margin:0 0 8px\">Padrão: <code>feat/SCRUM-12-descricao</code> ou <code>feat[75,76]-descricao</code> · ReleaseSprint* são exceção permanente</p>`;\n    e += `<ul style=\"font-size:13px\">`;\n    for (const v of branchNCs) e += `<li><code>${v.name}</code> [${v.repo}]<br>${v.viols.map(vi=>`⤷ ${vi}`).join('<br>')} · <a href=\"${v.url}\">Ver branch</a></li>`;\n    e += `</ul>`;\n  }\n  if (docNCs.length) {\n    e += `<h3 style=\"color:#1F3864;font-size:14px\">📄 Documentação (${docNCs.length} repositórios)</h3><ul style=\"font-size:13px\">`;\n    for (const v of docNCs) {\n      e += `<li><b>[${v.repo}]</b> — ${v.commitsThisSpring} commits na sprint<br>`;\n      if (!v.readmeOk) e += `⤷ README sem commit docs há <b>${v.daysSinceReadme} dias</b> (limite: ${DOC_WARN_DAYS}d)<br>`;\n      if (!v.docsOk)   e += `⤷ /docs sem commit docs há <b>${v.daysSinceDocs} dias</b> (limite: ${DOC_WARN_DAYS}d)`;\n      e += `</li>`;\n    }\n    e += `</ul>`;\n  }\n  if (testNCs.length) {\n    e += `<h3 style=\"color:#1F3864;font-size:14px\">🧪 Testes fora do padrão (${testNCs.length})</h3>`;\n    e += `<p style=\"font-size:12px;color:#666;margin:0 0 8px\">Padrão: <code>TC-XX-nome.spec.ts</code> ou <code>*.int.spec.ts</code> ou <code>*.int.test.ts</code></p>`;\n    e += `<ul style=\"font-size:13px\">`;\n    for (const v of testNCs) e += `<li><code>${v.name}</code> [${v.repo}] · <a href=\"${v.url}\">Ver arquivo</a></li>`;\n    e += `</ul>`;\n  }\n  if (jiraNCs.length) {\n    e += `<h3 style=\"color:#1F3864;font-size:14px\">📌 Rastreabilidade Jira (${jiraNCs.length})</h3><ul style=\"font-size:13px\">`;\n    for (const v of jiraNCs) e += `<li><b><a href=\"${v.url}\">${v.key}</a></b> — ${v.summary}<br>${v.viols.map(vi=>`⤷ ${vi}`).join('<br>')}</li>`;\n    e += `</ul>`;\n  }\n} else {\n  e += `<div style=\"background:#E8F5E9;border-left:4px solid #2E7D32;padding:14px;border-radius:4px\"><b style=\"color:#2E7D32\">✅ Nenhuma não-conformidade encontrada nesta sprint!</b></div>`;\n}\n\n\n// ── Daily no Email ────────────────────────────────────────────────────────\ne += `<h2 style=\"color:#1F3864;border-bottom:2px solid #2E5FAC;padding-bottom:8px;font-size:15px;margin-top:20px\">📡 Daily Scrum</h2>`;\ne += `<table width=\"100%\" cellpadding=\"9\" cellspacing=\"0\" style=\"border-collapse:collapse;font-size:13px;margin-bottom:16px\">`;\ne += `<tr style=\"background:#2E5FAC;color:#fff\"><th align=\"left\">Dia</th><th align=\"center\">Status</th><th align=\"center\">Presentes</th><th align=\"center\">Duração</th></tr>`;\nconst diasEmail = ['Segunda','Terça','Quarta','Quinta','Sexta'];\ndiasEmail.forEach((dia, idx) => {\n  const d2 = (dailysData.dailys || []).find(d3 => d3.diaSemana === dia);\n  const bg = idx % 2 === 0 ? '' : ' style=\"background:#F5F7FA\"';\n  if (d2) {\n    e += `<tr${bg}><td style=\"padding:9px\">${dia}</td><td align=\"center\" style=\"color:#2E7D32;font-weight:600\">✅ Realizada</td><td align=\"center\">${d2.presentes.length}/${d2.totalMembros}</td><td align=\"center\">${d2.duracaoMin}min</td></tr>`;\n  } else {\n    e += `<tr${bg}><td style=\"padding:9px\">${dia}</td><td align=\"center\" style=\"color:#B71C1C;font-weight:600\">❌ Não realizada</td><td align=\"center\">—</td><td align=\"center\">—</td></tr>`;\n  }\n});\ne += `<tr style=\"background:#FFF8E1;border-top:2px solid #F57F17\"><td style=\"padding:9px\"><b>Total na semana</b></td><td align=\"center\" colspan=\"3\"><b>${totalDailys}/semana</b> ${dailyOk ? '✅ (mínimo atingido)' : '⚠️ (mínimo: 3)'}</td></tr>`;\ne += `</table>`;\n\nif (impAbertosLista.length > 0) {\n  e += `<h3 style=\"color:#E65100;font-size:14px\">🚧 Impedimentos Abertos (${impAbertosLista.length})</h3><ul style=\"font-size:13px\">`;\n  for (const imp of impAbertosLista) {\n    e += `<li><b>${imp.dev}</b> — ${imp.descricao}${imp.tarefa ? ` <i>(${imp.tarefa})</i>` : ''}</li>`;\n  }\n  e += `</ul>`;\n} else {\n  e += `<div style=\"background:#E8F5E9;border-left:4px solid #2E7D32;padding:10px 14px;border-radius:4px;margin-bottom:16px\"><b style=\"color:#2E7D32\">🎉 Nenhum impedimento aberto no momento.</b></div>`;\n}\ne += `<div style=\"background:#1F3864;padding:12px 24px;border-radius:0 0 8px 8px;text-align:center\"><p style=\"color:#B0C4DE;margin:0;font-size:12px\">🤖 Auditoria automática via n8n · QA de DevOps · Projeto Tecsus · Sprint-based (30d) · ${repos.length} repositórios</p></div></div>`;\n\nreturn [{ json: {\n  discordMessage: d.substring(0, 1990),\n  emailBody: e,\n  pctGeral,\n  periodLabel,\n  jiraSprintName,\n  discordUrl: DISCORD_URL,\n  sendgridKey: SENDGRID_KEY,\n  telegraphUrl: telegraphUrl || null,\n} }];\n"
      },
      "id": "c8d838b2-3b83-4e75-8b1d-0b6f19ba4ae6",
      "name": "Auditar Todos os Processos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3344,
        4544
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Auditar Todos os Processos').item.json.discordUrl }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Auditar Todos os Processos').item.json.discordMessage }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e53e8315-5736-48e5-9f57-61b27269565d",
      "name": "Enviar para Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3040,
        4448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer SEU_SENDGRID_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"personalizations\": [{\"to\": [{\"email\": \"seu@email.com\"}]}, {\"to\": [{\"email\": \"guac7422@gmail.com\"}]}, {\"to\": [{\"email\": \"guilhermecamargo_@outlook.com\"}]}, {\"to\": [{\"email\": \"matheusrcastros@gmail.com\"}]}, {\"to\": [{\"email\": \"otavioviannalima@gmail.com\"}]}, {\"to\": [{\"email\": \"tiago.bala02@gmail.com\"}]}],\n  \"from\": {\"email\": \"seu@email.com\", \"name\": \"QA DevOps Tecsus\"},\n  \"subject\": \"[QA Sprint] {{ $('Auditar Todos os Processos').item.json.jiraSprintName }} — {{ $('Auditar Todos os Processos').item.json.periodLabel }} — {{ $('Auditar Todos os Processos').item.json.pctGeral }}% conforme\",\n  \"content\": [{\"type\": \"text/html\", \"value\": {{ JSON.stringify($('Auditar Todos os Processos').item.json.emailBody) }}}]\n}",
        "options": {}
      },
      "id": "3b09a8d6-6f8b-4c05-8360-bbe8946cc2b6",
      "name": "Enviar por Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3040,
        4640
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Auditar Todos os Processos": {
      "main": [
        [
          {
            "node": "Enviar para Discord",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar por Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendamento Seg-Sex 7h": {
      "main": [
        [
          {
            "node": "Auditar Todos os Processos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bb6568d2-6483-42f6-a6c9-71a461c9ea47",
  "meta": {
    "instanceId": "6e9b3ee75c8f97597c33b18ad0ed485d854de854801acf5b9d9bc2b62df3cc69"
  },
  "id": "hV2sAQvZlHyJl4TI",
  "tags": []
}